// *************
//    COLORS
// *************

//Company Colors
$primary: #63ACE5
$secondary: #fafcff
$tertiary: #E7EFF6
$highlight: #FEB453

//Neutrals
$dark: #303030
$lightdark: #727272
$light: #9099a7
$lightlight: #f9f9f9
$breakgrey: #e5e5e5

//Accents
$alert: red
$info: lightblue
$linkhover: #FF9009

///
/// General
///