html
    background: white

.fix-body
    position: fixed

main
    display: grid
    grid-template-rows: repeat(autofill, 1fr)
    grid-template-columns: repeat(16, 1fr)

* *:before *:after
    box-sizing: inherit

section:nth-of-type(even)
    margin: 2rem 0px

section:nth-of-type(odd)
    margin-top: -1rem

section:first-child
    margin: 0rem

.c-t 
    text-align: center



