@media screen and (max-width:1024px)
    header
        nav
            .nav-links
                width: 45%

    .picture-text-module
        p
            padding: 1rem 2rem

    .ueber-mich
        padding: 1rem

    .cta
        padding: 1rem

    .service-module
        grid-area: 2 / 2 / 3 / 16

    .service-module2
        grid-area: 3 / 2 / 4 / 16

    .service-module3
        grid-area: 4 / 2 / 5 / 16

    .service-grid
        max-height: 70vh
        .service-img
            grid-area: 2 / 1 / end / 7
            text-align: center
            padding: 1rem
        .service-headline
            grid-area: 1 / 1 / 2 / end
            padding: 0.5rem 8rem
        .service-textbox
            grid-area: 2 / 7 / 4 / end
            text-align: center
            padding: 4rem 0.5rem
        .button
            grid-area: 4 / 9 / 5 / 15
            padding: 2rem 5rem
            transform: scale(1)

    .service-img img
        width: 100%
        height: 100%
        object-fit: cover

    .person
        min-height: 60vh
        .person-grid
            img
                max-height: 60vh
            .person-name-grid
                grid-template-columns: repeat(1, 1fr)
                grid-template-rows: repeat(3, 1fr)
                text-align: center
                .name
                    grid-area: 1 / 1 / 2 / end
                .work-title
                    grid-area: 2 / 1 / 3 / end
                .person-description
                    grid-area: 3 / 1 / end / end
    
    .kunden
        min-height: 40vh
        .kunden-logo
            .kunden-logo-img
                height: 10rem
                width: 10rem


@media screen and (max-width:768px)
    header
        nav
            .nav-links
                position: fixed
                right: 0px
                top: 8vh
                height: 92vh
                padding-bottom: 2rem
                background-color: $primary
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-around
                width: 100%
                transform: translateY(150%)
                z-index: 99
                box-sizing: border-box
                padding-bottom: 10rem
                li 
                    opacity: 0
            .burger
                display: block
            .nav-active
                transform: translateY(0%)

    .hero-main
        .color-block
            grid-area: 5 / 1 / 6 / 4
            background-color: $primary
        .hero-image-main
            grid-area: 1 / 1 / 5 / 4
            img 
                object-fit: cover
                width: 100%
                height: 100%
        .hero-text-main
            grid-area: 4 / 2 / 6 / 3
            color: white
            transform: translateX(0%)
    
    .hero-secondary
        height: 20vh
        .sub-heading
            display: none
        


    .picture-text-module
        .ptm-left-i
            grid-area: 1 / 1 / 5 / 9
            padding-bottom: 1rem
        .ptm-left-p
            grid-area: 3 / 7 / 4 / end
        .ptm-right-i
            grid-area: 5 / 3 / end / end
            padding-top: 1rem
        .ptm-right-p
            grid-area: 7 / 1 / 8 / 7

    .ueber-mich
        .headline-text1
            grid-area: 1 / 2 / 2 / 16
            max-width: 100%
            text-align: center
            padding-bottom: 1rem
        .c1
            grid-area: 2 / 1 / 3 / end
        .c2
            grid-area: 3 / 1 / 4 / end
        .c3
            grid-area: 5 / 1 / 6 / end
    
    .cta
        .headline-text2
            grid-area: 1 / 1 / 2 / end
            text-align: center
            padding-bottom: 2rem
        .button
            grid-area: 2 / 1 / 3 / end
            place-self: center center
    
    .spacer:nth-of-type(odd)::before
        display: none

    .service-grid
        max-height: 80vh
        .service-img
            grid-area: 2 / 1 / 3 / end
            text-align: center
            margin-top: 2rem
        .service-headline
            grid-area: 1 / 1 / 2 / end
            padding: 0.5rem 3rem
        .service-textbox
            grid-area: 3 / 1 / 4 / end
            padding: 0.5rem 0.5rem
            text-align: center
        .button
            grid-area: 4 / 1 / 5 / end

    .service-img img
        width: 50%
        height: 50%
        object-fit: cover
    
    .person
        min-height: 50vh
        .person-grid
            display: grid
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: repeat(2, 1fr)
            justify-items: center
            align-items: center
            padding: 1rem
            img
                max-height: 50vh
            .person-name-grid
                display: block

    .kunden
        grid-template-rows: 10% 5% 85%
        min-height: 150vh
        .kunden-s
            text-align: center
        .kunden-logo
            flex-wrap: wrap
            .kunden-logo-img
                height: 13rem
                width: 13rem
    
    .kontakt-text
        grid-area: 2 / 3 / 3 / 15
        min-height: 25vh
        text-align: center
        padding-bottom: 0rem

    .kontakt-text::before
        display: none

    .kontaktformular
        grid-area: 3 / 3 / 4 / 15
        min-height: 25vh
        padding-bottom: 3rem
        h3
            padding-top: 3rem
    
    .kontaktformular::before
        content: ''
        position: relative
        border-top: 3px solid $tertiary
        border-radius: $small



    
    footer
        grid-template-rows: 12vh 10vh 15vh
        .headline-text-footer1
            grid-area: 2 / 1 / 3 / end
        .headline-text-footer2
            grid-area: 3 / 1 / 4 / end
        .footer-lower
            grid-area: 4 / 1 / 5 / end

@media screen and (max-width:400px)
    .service-grid
        max-height: 100vh
    .person
        .person-grid
            min-height: 100vh
    
    .kunden
        min-height: 130vh
        .kunden-h
            text-align: center
        .kunden-logo
            .kunden-logo-img
                height: 10rem
                width: 10rem
