.picture-text-module
    height: 76vh
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(8, 1fr)

.picture-text-module p
    padding: 1.5rem 4rem
    background-color: grey
    place-self: center center

.ptm-left-i > img, .ptm-right-i > img
    object-fit: cover
    width: 100%
    height: 100%

.picture-text-module .ptm-left-i
    grid-area: 1 / 1 / 8 / 5

.picture-text-module .ptm-left-p
    grid-area: 3 / 4 / 4/ 6

.picture-text-module .ptm-right-i
    grid-area: 2 / 7 / end / 11

.picture-text-module .ptm-right-p
    grid-area: 7 / 6 / 8 / 8
    

