.cta
    min-height: 15vh
    grid-area: 4 / 3 / 5 / 15
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto
    align-content: center
    padding: 0.5rem
    .headline-text2
        grid-area: 1 / 1 / 2 / 3
    .button
        grid-area: 1 / 3 / 2 / 4
        place-self: center end