footer
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 8vh 19.5vh 2.5vh
    align-items: center
    height: 30vh
    background-color: $tertiary


    .footer-nav 
        grid-area: 1 / 1 / 2 / 4
        ul
            li
                display: inline
    
    .headline-text-footer1
        grid-area: 2 / 1 / 3 / 2
    
    .headline-text-footer2
        grid-area: 2 / 2 / 3 / 4
    
    .footer-lower
        grid-area: 3 / 1 / 4 / 3
        background-color: $primary
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        a 
            color: black
            font-weight: 500
