.ueber-mich
    height: 20vh
    background-color: pink
    grid-area: 3 / 3 / 4 / 15
    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows: auto

.ueber-mich .headline-text1
    grid-area: 1 / 1 / 1 / 5
    max-width: 100%

.ueber-mich .c1
    grid-area: 1 / 6 / 1 / 7

.ueber-mich .c2
    grid-area: 1 / 7 / 1 / 8

.ueber-mich .c3
    grid-area: 1 / 8 / 1 / 9